* {
  margin: 0;
  /*border: 1px solid black;*/
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

.flexbox-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flexbox-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

body {
  height: 100%;
}
