<div class="flexbox-column container">
  <nav>
    <app-navbar></app-navbar>
  </nav>

  <main class="flexbox-row">
    <div class="items" id="first">
      <app-login-form></app-login-form>
    </div>

    <div class="items" id="second">
      <img id="tlo" routerLink="/" src="/assets/img/tlo.png" alt="Something went wrong.">
    </div>

    <!--<div class="flex-item" id="first-item">
      <app-login-form></app-login-form>
    </div>
    <div class="flex-item" id="second-item">
      <img id="tlo" routerLink="/" src="/assets/img/tlo.png" alt="Something went wrong.">
    </div>-->
  </main>

  <footer>
    <p>TODO</p>
  </footer>

</div>
