<main class="container-fluid">
  <div class="row">

    <app-login-page-form class="w-100 col-lg-4 p-0 m-0 shadow-right"></app-login-page-form>

    <div class="col-lg-8 p-0 m-0 d-none d-lg-block">
      <div id="img-container" class="d-flex flex-column justify-content-between p-0">

        <a routerLink="/" class="m-5 align-self-end" id="logo">
          <img class="img-fluid" src="../../../../assets/logo.png" width="250px" alt="LOGO">
        </a>

        <div *ngIf="amount" class="align-self-end mt-auto mb-5 pb-2 mr-4">
          <p class="join-us pb-3">Dołącz do {{ amount }} użytkowników!</p>
        </div>

        <footer class="container-fluid d-flex flex-column justify-content-around">
          <div class="w-100 m-0 p-0 d-flex justify-content-around">
            <a routerLink="/statute">Regulamin</a>
            <a routerLink="/privacy-policy">Polityka prywatnośći</a>
            <a routerLink="/cookies-policy">Polityka plików cookies</a>
            <span class="text-white">&copy; AdiRey</span>
          </div>
        </footer>
      </div>

    </div>
  </div>
</main>
