<div class="container-fluid p-0">
  <div class="d-flex min-vh-100 flex-column justify-content-around align-items-center pl-0 pr-0">
    <div id="main-container" class="col-md-6 col-lg-4 text-white text-center p-5">
      <form>
        <div>
          <input id="emailId" class="form-control" type="email" placeholder="Email">
          <label for="emailId">Email</label>
        </div>

        <div>
          <input id="login" class="form-control" type="text" placeholder="Login">
          <label for="login">Login</label>
        </div>

        <div>
          <input id="nameAndSurname" class="form-control" type="text" placeholder="Imie i nazwisko">
          <label for="nameAndSurname">Imie i nazwisko</label>
        </div>

        <div>
          <input id="passwordId" class="form-control" type="password" placeholder="Hasło">
          <label for="passwordId">Hasło</label>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea2">Opis</label>
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
        </div>

      </form>
    </div>
  </div>
</div>
