<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top shadow-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"><img class="img-fluid logo" src="../../../assets/logo.png" alt="L">
      MeetMe</a>

    <div>
      <button class="btn btn-outline-light" type="button" routerLink="register">Zarejestruj</button>
      <button class="btn btn-light ml-2" type="button" routerLink="login">Zaloguj</button>
    </div>

  </div>
</nav>

<main class="d-flex flex-column">
  <div class="welcome-view">
    <!--  SECTION 1 DESCRIPTION-->

    <section id="section1" class="container-fluid d-flex flex-wrap">

      <div class="col-md-4 couple mt-5">
      </div>

      <div id="welcome-text" class="col-md-8 mt-5 d-flex flex-column justify-content-center font-italic pr-5">
        <h2>Dołącz do nas i znajdź swoją drugą połówkę!</h2>
        <p>Tak to takie proste! Wystarczy, że założysz konto w naszym serwisie, a uzyskasz dostęp do profili
          użytkowników,
          algorytmów dopasowywujących, Twojego własnego kalendarza spotkań i wiele więcej. Nie czekaj, załóż konto już
          dziś!</p>
        <p class="align-self-center">Rozpocznij swoją przygodę:</p>
        <button id="register-button" class="align-self-center btn btn-outline-light w-25" type="button">Zarejestruj
        </button>
      </div>

    </section>

    <!--  SECTION 1 DESCRIPTION-->

    <!--  SECTION 2 EMOTIONS-->

    <section id="section2" class="container-fluid d-flex flex-wrap">

      <div class="emotions col-md-8 mt-5 d-flex justify-content-center align-items-start">
        Daj się ponieść emocjom!
      </div>

      <div class="col-md-4 couple2">
      </div>
    </section>

    <!--  SECTION 2 EMOTIONS-->
  </div>

  <!--  SECTION 3 HOW MANY...-->

  <section id="section3" class="container-fluid">
    <div class="image-s3 shadow-lg">
      Codziennie coraz więcej nowych polubień, użytkowników oraz par! Statystyki nie kłamią!
    </div>
    <div id="amounts" class="container-fluid d-flex row justify-content-around flex-wrap">
      <div>
        <h5>Użytkowników</h5>
        <hr>
        <p>742</p>
      </div>
      <div>
        <h5>Lajków</h5>
        <hr>
        <p>7142</p>
      </div>
      <div>
        <h5>Par</h5>
        <hr>
        <p>123</p>
      </div>
      <div>
        <h5>Udanych Par</h5>
        <hr>
        <p>5</p>
      </div>
    </div>
  </section>

  <!--  SECTION 3 HOW MANY...-->

  <!--  SECTION 4 PACKAGES-->

  <section id="section4" class="container-fluid d-flex flex-column align-items-center shadow-lg p-1">

    <p class="mb-5">
      Dołącz do ścisłej elity użytkowników i uzyskaj dostęp do wszystkich naszych funkcjonalności w tym kalendarza
      spotkań a także bardzo zaawansowanego narzędzia do wyszukiwania pasującej osoby!
    </p>

    <h1>Pakiety:</h1>
    <div class="table table-responsive">
      <table class="table-striped mr-auto ml-auto">
        <thead>
        <tr>
          <th>Posiada:</th>
          <th>Zwykłe</th>
          <th>Premium</th>
          <th>Premium plus</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            Nielimitowane zwykłe lajki
          </td>
          <td>
            <span class="fa fa-thumbs-up"></span>
          </td>
          <td>
            <span class="fa fa-thumbs-up"></span>
          </td>
          <td>
            <span class="fa fa-thumbs-up"></span>
          </td>
        </tr>
        <tr>
          <td>
            Nielimitowane super lajki
          </td>
          <td>
            1 per day
          </td>
          <td>
            5 per day
          </td>
          <td>
            <span class="fa fa-thumbs-up"></span>
          </td>
        </tr>
        <tr>
          <td>
            Nielimitowane ekstra lajki
          </td>
          <td>
            1 per day
          </td>
          <td>
            3 per day
          </td>
          <td>
            <span class="fa fa-thumbs-up"></span>
          </td>
        </tr>
        <tr>
          <td>
            Kalendarz spotkań
          </td>
          <td>
            <span class="fa fa-thumbs-down"></span>
          </td>
          <td>
            <span class="fa fa-thumbs-up"></span>
          </td>
          <td>
            <span class="fa fa-thumbs-up"></span>
          </td>
        </tr>
        <tr>
          <td>
            Ilość zdjęć na profilu
          </td>
          <td>
            10
          </td>
          <td>
            30
          </td>
          <td>
            NIELIMITOWANE
          </td>
        </tr>
        <tr>
          <td>
            Ilość zdjęć na profilu
          </td>
          <td>
            10
          </td>
          <td>
            30
          </td>
          <td>
            NIELIMITOWANE
          </td>
        </tr>
        <tr>
          <td>
            Ilość zdjęć na profilu
          </td>
          <td>
            10
          </td>
          <td>
            30
          </td>
          <td>
            NIELIMITOWANE
          </td>
        </tr>
        <tr>
          <td>
            Ilość zdjęć na profilu
          </td>
          <td>
            10
          </td>
          <td>
            30
          </td>
          <td>
            NIELIMITOWANE
          </td>
        </tr>
        <tr>
          <td>
            Ilość zdjęć na profilu
          </td>
          <td>
            10
          </td>
          <td>
            30
          </td>
          <td>
            NIELIMITOWANE
          </td>
        </tr>
        <tr>
          <td>
            Ilość zdjęć na profilu
          </td>
          <td>
            10
          </td>
          <td>
            30
          </td>
          <td>
            NIELIMITOWANE
          </td>
        </tr>
        <tr>
          <td>
            Ilość zdjęć na profilu
          </td>
          <td>
            10
          </td>
          <td>
            30
          </td>
          <td>
            NIELIMITOWANE
          </td>
        </tr>
        <tr>
          <td>
            Cena [PLN/mies.]
          </td>
          <td>
            <div>
              <p>0</p>
              <button type="button" class="btn btn-outline-light" routerLink="register">Kup</button>
            </div>
          </td>
          <td>
            <div>
              <p>19.99</p>
              <button type="button" class="btn btn-outline-light" routerLink="register">Kup</button>
            </div>
          </td>
          <td>
            <div>
              <p>39.99</p>
              <button type="button" class="btn btn-outline-light" routerLink="register">Kup</button>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>

  </section>

  <!--  SECTION 4 PACKAGES-->

  <!--  SECTION 5 DOWNLOAD-->

  <section id="section5" class="container-fluid d-flex flex-column">
    <div class="w-75 align-self-center">
      <h1>Teraz dostępna jeszcze w innych formach!</h1>
      <p>
        Aplikacja dostępna jest już na wersje desktopową, a także mobilną w celu zwiększenia komfortu korzystania z
        serwisu dla naszych użytkowników. Korzystaj kiedy chcesz i w jaki sposób chcesz, a także gdzie chcesz, możesz
        wyszukiwać ludzi po Twojej lokalizacji lub w mieście do jakiego należą. Dodatkowo dostarczony jest bardzo
        przyjemny interfejs użytkownika. Aplikcje są w pełni bezpłatne i dobrze wykonane. W przypadku jakichkolwiek
        błędów
        prosimy o niezwłoczny <a routerLink="/contact">kontakt</a>.
      </p>
      <div class="d-flex justify-content-around">
        <div class="d-flex flex-wrap justify-content-around mt-3">
          <button routerLink="/download-desktop" type="button"
                  class="btn btn-outline-light download d-flex p-2 m-2 justify-content-around">
            <span class="fa fa-desktop"></span>
            Desktop
          </button>
          <button routerLink="/download-android" type="button"
                  class="btn btn-outline-light download d-flex p-2 m-2 justify-content-around">
            <span class="fa fa-mobile-alt"></span>
            Android
          </button>
          <button routerLink="/download-apple" type="button"
                  class="btn btn-outline-light download d-flex p-2 m-2 justify-content-around">
            <span class="fa fa-apple-alt"></span>
            IOS
          </button>
        </div>
      </div>
    </div>

  </section>

  <!--  SECTION 5 DOWNLOAD-->

  <!--  SECTION 6 OWNER, ADMINS, ETC.-->

  <section>
    <h2>Nasi pracownicy:</h2>
    <div class="container-fluid d-flex justify-content-around flex-wrap">
      <div class="col-md-3 item d-flex flex-wrap p-3">
        <div class="img-1"></div>
        <div class="col-sm-7">
          <p class="name">Mariusz <br> Pudzianowski</p>
          <p class="status">Właściciel</p>
          <p class="description">Przykłada dużo uwagi do szczegółów, chętny do nawiązywania znajomości. Przeważnie
            odpisuje do paru dni na wiadomości.</p>
        </div>
      </div>
      <div class="col-md-3 item d-flex flex-wrap p-3">
        <div class="img-2"></div>
        <div class="col-sm-7">
          <p class="name">Natalia <br> Bożydar</p>
          <p class="status">Admin</p>
          <p class="description">To do niej możecie się zgłosić w sprawie w celu wszelkich uwag, nadużyć itp. </p>
        </div>
      </div>
      <div class="col-md-3 item d-flex flex-wrap p-3">
        <div class="img-3"></div>
        <div class="col-sm-7">
          <p class="name">Kamila <br> Laska</p>
          <p class="status">Moderator</p>
          <p class="description">Odpowiada za odpowiedni kontent umieszczany na stronie jak i za wszelkie kwestie
            estetyczne. W wolnym czasie interestuje się siatkówką.</p>
        </div>
      </div>
    </div>
  </section>

  <!--  SECTION 6 OWNER, ADMINS, ETC.-->

</main>

<footer>
  <div class="container-fluid d-flex justify-content-around">

    <div class="col-md-4 d-flex flex-column justify-content-center align-self-center">
      <h1>O nas</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </div>

    <div class="col-md-4">
      <h1>Biuletyn</h1>
      <div class="d-flex">
        <label for="email"></label>
        <input id="email" class="form-control w-50" type="text" placeholder="Email">
        <button type="button" class="btn btn-light">Wyślij ICON</button>
      </div>
    </div>

    <div class="col-md-4">
      <h1>Obserwuj nas</h1>
      <p>Znajdziesz nas na:</p>
      <span>FB ICON</span><br>
      <span>INST ICON</span><br>
      <span>TWITTER ICON</span><br>
      <span>YOUTUBE ICON</span>
    </div>

  </div>
</footer>
