.login-form {
  border-radius: 3px;
  background-color: rgb(2, 31, 59);
  color: white;
}

#img {
  width: auto;
  height: 50px;
}

.cont{
  height: 100%;
}

.quote {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  font-style: italic;
}

div.container-fluid {
  height: 95vh;
}
