<div class="flexbox nav-bar">
  <img id="logo" routerLink="/" src="/assets/img/logo.png" alt="LOGO" width="86" height="74">
  <label>
    <input class="search-place" name="search" type="text" placeholder="Szukaj">
  </label>
  <ul class="choices">
    <li routerLink="/friends">Przyjaciele</li>
    <li routerLink="/search">Szukaj pary</li>
    <li routerLink="/messages">Wiadomości</li>
    <li routerLink="/my-couples">Moje pary</li>
    <li routerLink="/my-account">Moje konto</li>
  </ul>
</div>
